<%- include("partials/header.ejs")%>
                                  <h1>cacaca</h1>
                                  <h3>mon coco</h3>
                                  <%- include("partials/footer.ejs")%>