<%- include("partials/header.ejs")%>
                                  <h1>heheh</h1>
                                  <h3>mon potit</h3>
                                  <%- include("partials/footer.ejs")%>