<%- include("partials/header.ejs")%>
                                  <h1>hohoho</h1>
                                  <h3>mon enfant</h3>
                                  <%- include("partials/footer.ejs")%>