
<%- include("partials/header.ejs")%>
<form class="text-center" action="/edit-mamacita" method="POST">
    <label for="blog_title"><h3>Title</h3></label>
    <input class="form-control" type="text" name="blog_title" value=mamacita>
    <label for="blog_story"><h3>Story</h3></label>
    <input class="form-control" type="text" name="blog_story" value=asdasd>
    <input class="btn btn-outline-warning btn-lg" type="submit" value="Confirm Changes">
</form>

<%- include("partials/footer.ejs")%>
  