<%- include("partials/header.ejs")%>
                                  <h1>oupsi</h1>
                                  <h3>hahaha</h3>
                                  <%- include("partials/footer.ejs")%>