

<form action="/edit-wasssup" method="POST">
	<label for="blog_title"></label>
	<input type="text" name="blog_title" value=wasssup>
	<label for="blog_story"></label>
	<input type="text" name="blog_story" value=waruod>
    <input type="submit" value="Submit">
</form>
  